<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>教师列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
</head>
<body class="childrenBody" style="margin-top: 1em">
<div class="demoTable">
	<button class="layui-btn" data-type="addData">添加</button>
</div>
<table class="layui-hide" id="test" lay-filter="test" ></table>


<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="editschool">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delschool">删除</a>
</script>

<script type="text/javascript" src="__LAY__/layui.js"></script>
</body>
</html>
<script type="text/javascript">
	layui.use(['layer', 'table',  'element'], function(){
		var table = layui.table
			,layer = layui.layer
			,$ = layui.$;

		table.render({
	        elem: '#test'
	        ,url:'/manage/teacher_contorller/schooltable'
	        ,height:'full'
	        ,cellMinWidth:80
	        ,cols: [[
	        	{field:'id', title: 'ID'}
	            ,{field:'name', title: '院校名称'}
	            ,{field:'time', title: '添加时间'}
	            ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
	        ]]
	        ,page: true
	    });

	    /*
	     *  添加删除
	     */
	    var addedit = function(id = 0){
            var url = '/manage/teacher_contorller/addschoolpage?id='+id
              ,title = id == 0?'添加院校':'编辑院校';
            layer.open({
                    type: 2
                    ,title: title
                    ,content: url
                    ,area: ['42%', '52%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){

                        var iframeWindow = window['layui-layer-iframe'+ index]
                        ,submitID = 'LAY-user-back-submit'
                        ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                          var field = data.field;
                          $.ajax({
                            url: '/manage/teacher_contorller/addschool'
                            ,type: 'post'
                            ,dataType: 'json'
                            ,data: field
                            ,async: false
                            ,success: function(res){
                              if(res.code == 0){
                                layer.msg(res.msg,{icon:1,time:1500},function(){
                                  table.reload('test') //数据刷新
                                  layer.close(index); //关闭弹层
                                })
                              }else{
                                layer.msg(res.msg,{icon:2,time:2000})
                              }
                                  
                            }
                          });
                        });  
                        submit.trigger('click');
                    }
                  })
          }
		/*
		 * 监听左侧菜单栏
		 */
	    table.on('tool(test)', function(obj){
	    	var data = obj.data;

	    	if(obj.event === 'delschool'){

	    		$.ajax({
	    			url: '/manage/teacher_contorller/delschool'
	    			,data: {id:data.id}
	    			,dataType: 'json'
	    			,type: 'post'
	    			,success: function(e){
	    				if(e.code == 1001){
	    					layer.msg(e.msg, {icon: 5, time: 1500});
	    					return false;
	    				}
	    				layer.msg(e.msg, {icon: 6, time: 1200},function(){
	    					table.reload('test')
	    				});
	    			}
	    		})
	    	}
	    	if(obj.event === 'editschool'){
	    		var id = data.id;
	    		addedit(id);
	    	}
	    })

	    $('.demoTable .layui-btn').on('click', function(){
	        var type = $(this).data('type');
	        if(type == 'addData'){

	        	addedit();
	        }	
	    });


	})
</script>