<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>添加管理员--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
</head>
<body class="childrenBody" style="margin-top: 2em">
<form class="layui-form">
	<input type="hidden" name="id" value="{$userInfo.0.uid}">
	<div class="layui-form-item">
		<label class="layui-form-label">管理员名称</label>
		<div class="layui-input-block">
			<input type="text" name="username"   lay-verify="username"  disabled placeholder="请输入管理员名称" autocomplete="off" class="layui-input" value="{$userInfo.0.username}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员密码</label>
		<div class="layui-input-block">
			<input type="text" name="ChangePassword"   lay-verify="ChangePassword" placeholder="请输入管理员密码" autocomplete="off" class="layui-input" value="">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="__LAY__/layui.js"></script>
<script type="text/javascript" src="__MANAGE__/js/editPassword.js"></script>
<script type="text/javascript" src="__MANAGE__/js/jquery-3.2.0.min.js"></script>
</body>
</html>