<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>添加管理员--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__LAY__/css/layui.css" media="all" />
</head>
<body class="childrenBody" style="margin-top: 2em">
<div class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">管理员账号</label>
		<div class="layui-input-block">
			<input type="text" name="username"   lay-verify="username" placeholder="请输入管理员名称" autocomplete="off" class="layui-input" value="{$userList.0.username}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员昵称</label>
		<div class="layui-input-block">
			<input type="text" name="nickName"   lay-verify="nickName" placeholder="请输入管理员昵称" autocomplete="off" class="layui-input" value="{$userList.0.nickName}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员联系方式</label>
		<div class="layui-input-block">
			<input type="text" name="phone"   lay-verify="phone" placeholder="请输入管理员联系方式" autocomplete="off" class="layui-input" value="{$userList.0.phone}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员微信号</label>
		<div class="layui-input-block">
			<input type="text" name="wechat_num"   lay-verify="wechat_num" placeholder="请输入管理员微信号" autocomplete="off" class="layui-input" value="{$userList.0.wechat_num}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员地址</label>
		<div class="layui-input-block">
			<input type="text" name="address"   lay-verify="address" placeholder="请输入管理员地址" autocomplete="off" class="layui-input" value="{$userList.0.address}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">分组列表</label>
		<div class="layui-input-inline">
			<select name="group_id" class="newsLook" lay-filter="browseLook">
			{volist name="group" id="data"}
			<option value="{$data.id}"  {if($userList.0.group_id ==$data.id )}selected = "selected{/if}">{$data.title}</option>	
			{/volist}
		    </select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">收款方式</label>
		<div class="layui-input-inline">
			<select name="paytype" class="newsLook" lay-filter="browseLook">
			{volist name="paytype" id="data"}
			<option value="{$data.id}"  {if($userList.0.paytype ==$data.id )}selected = "selected"{/if}>{$data.name}</option>	
			{/volist}
		    </select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label" style="display: block">收款二维码</label>
		<div class="site-demo-upload">
			<div class="layui-upload-drag" id="test10">
				<i class="layui-icon"></i>
				<p>点击上传，或将文件拖拽到此处</p>
			</div>
			{if($userList.0.payImg)}
			<a href="{$host.$userList.0.payImg}" target="_blank"><img id="testImg" style="width: 300px; height: 135px; margin-top: -60px;" src="{$host.$userList.0.payImg}"/></a>
			{else}
			<img id="testImg" style="width: 300px; height: 135px; display: none;  margin-top: -60px;" src="{$host.$userList.0.payImg}"/>
			{/if}
			<input type="hidden" name="payImg"  id="image" lay-verify="image" value="{$host.$userList.0.payImg}">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">管理员简介</label>
		<div class="layui-input-block">
			<textarea name="remark" placeholder="" class="layui-textarea">{$userList.0.remark}</textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
		</div>
	</div>
	<input type="hidden" name="uid" value="{$userList.0.uid}">
</div>
<script type="text/javascript" src="__LAY__/layui.js"></script>
<script type="text/javascript" src="__MANAGE__/js/editAdmin.js"></script>
</body>
</html>